@import "../scss/mixins.scss";

.app {
  width: 100vw;
  min-height: 654px; // hardcoded header + app & buttons + footer
  height: 100vh; /* For desktop and fallback for browsers that do not support Custom Properties */

  @include mobile-device {
    // Calculate actual screen height when on mobile
    height: calc(var(--vh, 1vh) * 100); /* 1vh when --vh not set */
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .main {
    margin-bottom: 7.5vh;
    width: 880px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 620px;
      margin-bottom: 20px;

      h1 {
        margin-bottom: 20px;
      }
      p {
        text-align: center;
      }
    }
  }
}

@include max-width-880px {
  .app {
    .main {
      width: 95vw;
    }
    .nav {
      padding-left: 2.5vw;
      padding-right: 2.5vw;
    }
    .footer {
      padding-left: 2.5vw;
      padding-right: 2.5vw;
    }
  }
}

@include max-width-540px {
  .app {
    p {
      font-size: 15px;
    }

    .main {
      width: 100vw;

      .description {
        h1 {
          font-size: 26px;
        }
      }
    }
  }
}
