@import "../../scss/mixins.scss";
@import "../../scss/mainComponent.scss";

.imageSelect {
  @extend .mainComponent;

  .mainContainer {
    justify-content: center;
    position: relative;

    transition: background-color 200ms ease-in-out;

    .actionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      .dropHereIcon {
        width: 88px;
        height: 88px;
        margin-bottom: 8px;
      }
    }
    .doneContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: 90%;
      margin-bottom: 40px;

      .fileInfoContainer {
        display: grid;
        align-items: center;
        grid-template-columns: 28px 1fr auto;
        column-gap: 32px;

        padding: 4px 60px;
        background-color: white;
        color: black;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        .photoIcon {
          width: 28px;
          height: 28px;
          fill: #3bb5e9;
        }

        .fileName {
          margin-top: 2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .fileSize {
          margin-top: 4px;
          font-size: 14px;
        }
      }
    }
    .wrongFileContainer {
      margin-bottom: 40px;
    }

    .dashedLine {
      position: absolute;
      top: 5px;
      left: 5px;

      width: calc(100% - 10px);
      height: 350px;

      border: 1px dashed #ffffff;
      transition: transform 200ms ease-in-out;
    }

    &.dragActive {
      background-color: #909090;

      .dashedLine {
        transform: scaleX(0.975) scaleY(0.95);
      }
    }
  }
}

@include max-width-540px {
  .imageSelect {
    .mainContainer {
      .doneContainer {
        .fileInfoContainer {
          column-gap: 16px;
          padding: 4px 24px;
        }
      }

      .dashedLine {
        left: 0px;
        width: 100%;
        border-left: 0;
        border-right: 0;
      }

      &.dragActive {
        .dashedLine {
          transform: scaleY(0.95);
        }
      }
    }
  }
}
