@import "../../scss/mainComponent.scss";

.textSelect {
  @extend .mainComponent;

  .mainContainer {
    textarea {
      padding: 12px;
      width: 100%;
      flex-grow: 1;

      font-size: 14px;
      color: #000000;
      background-color: white;
      resize: none;
    }
  }
}
