.textSelect {
  display: flex;
  flex-direction: column;
  width: 100%;

  .textEnterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 12px;
    border-radius: 5px;
    background-color: #5a5a5a;
    color: white;

    height: 360px;

    h2 {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 400;

      strong {
        font-weight: 700;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 12px;
    }

    textarea {
      width: 100%;
      flex-grow: 1;

      font-size: 14px;
      color: #000000;
      background-color: white;
      resize: none;
    }
  }
}
