@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;

  button {
    width: 200px;
    height: 40px;
    border-radius: 5px;

    font-size: 18px;
    color: $btn-font-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .continueBtn {
    background: $continuebtn-bg-color;
    .icon {
      margin-left: 20px;
    }
  }
  .backBtn {
    background: $backbtn-bg-color;
    .icon {
      margin-right: 20px;
    }
  }

  &.disableBack {
    justify-content: flex-end;
  }
}

@include max-width-540px {
  .buttons {
    margin-left: 16px;
    margin-right: 16px;

    button {
      width: 160px;
      font-size: 16px;
      box-shadow: none;
    }
  }
}

@include max-width-400px {
  .buttons {
    margin-left: 0px;
    margin-right: 0px;

    button {
      width: 50%;
      border-radius: 0;
    }
  }
}
