@import "../../scss/mainComponent.scss";

.download {
  @extend .mainComponent;
  margin-bottom: 54px;
  // replicate buttons height + margin (so vertical positioning is consistent when going from option -> download

  .mainContainer {
    justify-content: center;

    .doneContainer {
      margin-bottom: 40px;
    }

    .generatingContainer {
      margin-bottom: 40px;
    }
  }
}
